body {
  font-size: 100%;
  font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}

p {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  color: #2d2d2d;
}

/* TODO: size images manually so this is not necessary */
img {
  max-height: 10rem;
}

/***************** NAV *****************/

nav a:hover {
  text-decoration: underline;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  padding: 1rem;
  color: white;
}

.main-nav {
  background-color: #4286f4;
}

nav a {
  color: white;
  text-decoration: none;
}

nav li {
  color: white;
}

/**************** HERO *****************/
header img {
  max-height: 6rem;
  margin: 1rem;
  float: left;
}

h1 .logo-w {
  font-size: 3.5rem;
}

header h1 {
  margin: 1rem;
  color: #4286f4;
  font-weight: bold;
}

/**************** ASIDE ****************/

input[type="submit"] {
  padding: .25rem;
  background-color: #3D7FCF;
  border: 1px solid #3D7FCF;
  border-radius: 5px;
  font-size: .75rem;
  color: white;
}

aside {
  font-weight: bold;
}

/*********** PRODUCTS SECTION ***********/
section {
  padding: 0 0.75rem;
}

h2 {
  display: flex;
  justify-content: center;
  padding: 1.5rem;
  font-size: 2rem;
  color: #2d2d2d;
}

h3 {
  font-size: 1.2rem;
  text-align: center;
  color: #2d2d2d;
  padding: 0.5rem;
  font-weight: bold;
}

.item-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.bordered {
  border: 1px solid black;
}

div[class^=col-] {
  text-align: center;
  margin: 0.5rem;
  width: 22rem;
  height: 22rem;
}
